:root{
  --header-font:"Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  --body-font:"Open Sans", Helvetica, Verdana, sans-serif;
  --ef-white:hsl(202,2%,99%);
  --ef-black:hsl(202, 19%, 19%);
  --ef-key-pro:hsl(194, 92%, 34%);
  --ef-key-pro-light:hsl(194, 92%, 80%);
  --color-background:var(--ef-white);
  --color:var(--ef-black);
  --color-links:var(--ef-key-pro);
}

@media (prefers-color-scheme: dark){
  :root{
    --color-background:var(--ef-black);
    --color:var(--ef-white);
    --color-links:var(--ef-key-pro-light);
  }
}
body{
  background-color:var(--color-background);
  color:var(--color);
  font-family:var(--body-font);
}

a{
  color:var(--color-links);
}